@charset "utf-8";
@import "../../../mybulma/node_modules/bulma/bulma.sass";
@import "../../../mybulma/node_modules/bulma-calendar/src/sass/timepicker.sass";

.bg-hero {
    background-image: url(../img/row_of_lifts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: none;
}

.much-margin {
    margin-top: 8rem;
}