@charset "utf-8";
@import "../../../mybulma/node_modules/bulma/bulma.sass";

.bg-hero {
    background-image: url(../img/row_of_lifts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -55rem;
    background-color: none;
}