{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9e458748cc.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Hunter DIY Garage</title>
</head>

<body>
    {% block header %}

    <!-- UNIVERSAL HEADER -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="localhost:8000">
                <img src="{% static 'img/Logo.png' %}">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'hunter_diy_garage:index' %}">
                    Home
                </a>

                {% if request.user.is_authenticated %}
                <a class="navbar-item" href="{% url 'diy_users:profile' %}">
                    Account
                </a>
                {% endif %}

                <!-- <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="">
                            Create
                        </a>
                        <a class="navbar-item" href="">
                            Search
                        </a>
                        <a class="navbar-item" href="">
                            Edit
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="">
                            Delete
                        </a>
                    </div>
                </div> -->
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'diy_users:logout' %}" class="button is-warning">
                            Logout
                        </a>
                        {% else %}
                        <a class="button is-primary" href="{% url 'diy_users:register' %}">
                            <strong>Register</strong>
                        </a>
                        <a class="button is-light" href="{% url 'diy_users:login' %}">
                            Log in
                        </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% endblock header %}


    <!-- MAIN BODY -->
    <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column">
            {% block content %}

            {% endblock content %}
        </div>
        <div class="column is-one-fifth"></div>
    </div>

    <!-- UNIVERSAL FOOTER -->
    <footer class="footer">
        <!-- <div class="content has-text-centered">
            <p>
                <strong>Hunter DIY Garage</strong> by <a href="#">Christerpher Hunter</a>.
            </p>
        </div> -->
        {% block footer %}
        <nav class="tabs is-centered">
            <div class="container">
                <ul>
                    <li class="is-active">
                        <a href="{% url 'blog:blog' %}">
                            <span class="icon is-small"><i class="fas fa-comments" aria-hidden="true"></i></span>
                            <span>Chat Room</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'reservations:reservations' %}">
                            <span class="icon is-small"><i class="fas fa-calendar-check" aria-hidden="true"></i></span>
                            <span>Reservations</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'hunter_diy_garage:tools' %}">
                            <span class="icon is-small"><i class="fas fa-tools" aria-hidden="true"></i></span>
                            <span>Special Tools</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'hunter_diy_garage:bays' %}">
                            <span class="icon is-small"><i class="fas fa-air-freshener" aria-hidden="true"></i></span>
                            <span>Auto Bays Details</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'hunter_diy_garage:contact' %}">
                            <span class="icon is-small"><i class="fas fa-address-book" aria-hidden="true"></i></span>
                            <span>Contact</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'hunter_diy_garage:layout' %}">
                            <span class="icon is-small"><i class="fas fa-directions" aria-hidden="true"></i></span>
                            <span>Layout</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'hunter_diy_garage:rules' %}">
                            <span class="icon is-small"><i class="fas fa-book-open" aria-hidden="true"></i></span>
                            <span>Rules</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        {% endblock footer %}
    </footer>
</body>

</html>