{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- BLOG HEADER -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://christerpher.github.io">
            <img src="{% static 'img/Logo.png' %}">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'hunter_diy_garage:index' %}">
                Home
            </a>
            {% if request.user.is_authenticated %}
            <a class="navbar-item" href="{% url 'diy_users:profile' request.user.username %}">
                Account
            </a>
            {% endif %}


            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    {% if request.user.is_authenticated %}
                    <a class="navbar-item" href="{% url 'blog:create' %}">
                        Create
                    </a>
                    {% endif %}
                    <a class="navbar-item" href="{% url 'blog:search' %}">
                        Search
                    </a>
                    <!-- <a class="navbar-item" href="{% url 'blog:edit' 1 %}">
                        Edit
                    </a> -->
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'blog:delete' 1 %}">
                        Delete
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'diy_users:logout' %}" class="button is-warning">
                        Logout
                    </a>
                    {% else %}
                    <a class="button is-primary" href="{% url 'diy_users:register' %}">
                        <strong>Register</strong>
                    </a>
                    <a class="button is-light" href="{% url 'diy_users:login' %}">
                        Log in
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

{% endblock header %}

{% block content %}
{% if request.user.is_authenticated %}

<h1 class="title is-primary">Hello {{user}}</h1>


<div>
    {% for posts in user_data.blog_posts.all %}


    <div class="card mb-4">

        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="{% static 'img/default_avt.png' %}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{posts.user}}</p>
                    <p class="subtitle is-6">{{posts.title}}</p>
                </div>
            </div>
            <div class="content">
                {{posts.body}}
                <br>
                <br>
                <hr>
                <div class="is-flex is-justify-content-space-between">
                    <time datetime="{posts.date_created}">{{posts.date_created}}</time>
                    <div class="field is-grouped">
                        <p class="control">
                        <form action="{% url 'blog:delete' posts.id %}" method="POST">
                            {% csrf_token %}
                            <button class="button is-danger" type="submit">Delete</button>
                        </form>
                        </p>
                        <p class="control">
                            <a href="{% url 'blog:edit' posts.id %}">
                                <button id="edit_btn" class="button is-link">Edit</button>
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    {% endfor %}
</div>

{% endif %}
{% endblock content %}