{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="title">Reservations</h1>


<form action="{% url 'reservations:reservations' %}" method="POST">
    <div class="my-5">

        {% csrf_token %}

        <div class="select">
                <!-- <p class="control is-expanded has-icons-left"> -->
                <label for="{form.auto_bay_id}_id">Auto Bay Selection</label>
                {{form.auto_bay_id}}
                <!-- <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p> -->
        </div>
        
        <div class="select">
            <!-- <p class="control has-icons-left"> -->
                <label class="" for="{form.time_limit}_id">Time Limit</label>
                {{form.time_limit}}
                <!-- <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span> -->
            <!-- </p> -->
        </div>
        <hr>
        <div class="select">
            <!-- <p class="control has-icons-left"> -->
                <label for="{form.reservation_date}">Reservation Date</label>
                {{form.reservation_date}}
                <!-- <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span> -->
            <!-- </p> -->
        </div>
        
        {% if errors %}
        <div class="notification is-danger">
            {{errors}}

            <button class="delete"></button>
        </div>
        {% endif %}
        
        <div class="field much-margin">
            <button type="submit" class="button is-success is-fullwidth">
                Reserve
            </button>
        </div>
    </div>
</form>
{% endblock content %}