{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="title">Reservations</h1>


<form action="{% url 'reservations:reservations' %}" method="POST">
    <div class="my-5">

        {% csrf_token %}

        <label class="label">Auto Bay Selection</label>
        <div class="select">
            <!-- <p class="control is-expanded has-icons-left"> -->
            {{form.auto_bay_id}}
            <!-- <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p> -->
        </div>

        <label class="label">Expected Use Time (Hours)</label>
        <div class="select">
            <!-- <p class="control has-icons-left"> -->
            {{form.time_limit}}
            <!-- <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span> -->
            <!-- </p> -->
        </div>
        <hr>
        <label class="label">Reservation Date</label>
        <div class="date">
            <!-- <p class="control has-icons-left"> -->

            {{form.reservation_date}}
            <!-- <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span> -->
            <!-- </p> -->
        </div>

        {% if errors %}
        <div class="notification is-danger">
            {{errors}}

            <button class="delete"></button>
        </div>
        {% endif %}

        <div class="field much-margin">
            <button type="submit" class="button is-success is-fullwidth">
                Reserve
            </button>
        </div>
    </div>
</form>
{% endblock content %}